<!-- app.component.html -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Accueil</a>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/etudiant-create" class="nav-link">Ajouter Étudiant</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tuteur-create" class="nav-link">Ajouter Tuteur</a>
      </li>
      <li class="nav-item">
        <a routerLink="/etudiants/all" class="nav-link">Liste Étudiants</a>
      </li>
      <li class="nav-item">
        <a routerLink="/import" class="nav-link">Importer Fichiers</a>
      </li>
      <li class="nav-item">
        <a routerLink="/auto-affectation" class="nav-link">Auto-Affectation</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
