<nav class="navbar navbar-expand-lg navbar-dark imtbs-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo-imtbs.png" alt="Logo IMTBS" height="38" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Connexion -->      
        <li class="nav-item">
          <a routerLink="/authentification" routerLinkActive="active" class="nav-link">Connexion</a>
        </li>

        <!-- Création de compte -->
        <li class="nav-item">
          <a routerLink="/register" routerLinkActive="active" class="nav-link">Inscription</a>
        </li>

        <!-- Importation -->
        <li class="nav-item">
          <a routerLink="/import" routerLinkActive="active" class="nav-link">Importer Fichiers</a>
        </li>

        <!-- Liste -->
        <li class="nav-item">
          <a routerLink="/etudiants/all" routerLinkActive="active" class="nav-link">Liste Étudiants</a>
        </li>
        <li class="nav-item">
          <a routerLink="/tuteurs/all" routerLinkActive="active" class="nav-link">Liste Tuteurs</a>
        </li>
        <li class="nav-item">
          <a routerLink="/majeures/all" routerLinkActive="active" class="nav-link">Liste Majeures</a>
        </li>

        <!-- Auto-Affectation -->
        <li class="nav-item">
          <a routerLink="/auto-affectation" routerLinkActive="active" class="nav-link">Auto-Affectation</a>
        </li>

        <!-- Affectation Manuelle -->
        <li class="nav-item">
          <a routerLink="/affectation-manuelle" routerLinkActive="active" class="nav-link">Affectation-Manuelle</a>
        </li>

        <!-- Reporting -->
        <li class="nav-item">
          <a routerLink="/reporting" routerLinkActive="active" class="nav-link">Reporting</a>
        </li>

        <!-- Ajouts -->
        <li class="nav-item">
          <a routerLink="/etudiant-create" routerLinkActive="active" class="nav-link">Ajouter Étudiant</a>
        </li>
        <li class="nav-item">
          <a routerLink="/tuteur-create" routerLinkActive="active" class="nav-link">Ajouter Tuteur</a>
        </li>
        <li class="nav-item">
          <a routerLink="/majeure-create" routerLinkActive="active" class="nav-link">Ajouter Majeure</a>
        </li>
    </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

