<nav class="navbar navbar-expand-lg navbar-dark imtbs-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo-imtbs.png" alt="Logo IMTBS" height="38" />
    </a>

    

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
  <a routerLink="/profil" routerLinkActive="active" class="nav-link">Mon Profil</a>
</li>


        <!-- Connexion -->
        <li class="nav-item">
          <a routerLink="/authentification" routerLinkActive="active" class="nav-link">Connexion</a>
        </li>

        <!-- Inscription -->
        <li class="nav-item">
          <a routerLink="/inscription" routerLinkActive="active" class="nav-link">Inscription</a>
        </li>

        <!-- Importation -->
        <li class="nav-item">
          <a routerLink="/import" routerLinkActive="active" class="nav-link">Importer Fichiers</a>
        </li>

        <!-- Listes Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="listesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listes
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="listesDropdown">
            <li><a class="dropdown-item" routerLink="/etudiants/all">Liste Étudiants</a></li>
            <li><a class="dropdown-item" routerLink="/tuteurs/all">Liste Tuteurs</a></li>
            <li><a class="dropdown-item" routerLink="/majeures/all">Liste Majeures</a></li>
            <li><a class="dropdown-item" routerLink="/utilisateurs/all">Liste Utilisateurs</a></li> <!-- ✅ NEW -->
          </ul>
        </li>

        <!-- Auto-Affectation -->
        <li class="nav-item">
          <a routerLink="/auto-affectation" routerLinkActive="active" class="nav-link">Auto-Affectation</a>
        </li>

        <!-- Affectation Manuelle -->
        <li class="nav-item">
          <a routerLink="/affectation-manuelle" routerLinkActive="active" class="nav-link">Affectation-Manuelle</a>
        </li>

        <!-- Reporting -->
        <li class="nav-item">
          <a routerLink="/reporting" routerLinkActive="active" class="nav-link">Reporting</a>
        </li>

        <!-- Ajouter Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ajouterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ajouter
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ajouterDropdown">
            <li><a class="dropdown-item" routerLink="/etudiant-create">Ajouter Étudiant</a></li>
            <li><a class="dropdown-item" routerLink="/tuteur-create">Ajouter Tuteur</a></li>
            <li><a class="dropdown-item" routerLink="/majeure-create">Ajouter Majeure</a></li>
            <li><a class="dropdown-item" routerLink="/utilisateurs/create">Ajouter Utilisateur</a></li> <!-- ✅ NEW -->
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
