<h2 mat-dialog-title>{{ 'AFFECT_MANUELLE.AFFECT_STUDENT' | translate }} {{data.name}} {{data.prenom}}</h2>

<mat-dialog-content>
  <div  style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    
    <form class="example-form">
      <p>{{ 'AFFECT_MANUELLE.ENTER_TUTOR_LASTNAME' | translate }}</p>
      <mat-form-field class="example-full-width">
        <mat-label>{{ 'TUTORS.LASTNAME' | translate }}</mat-label>
        <input type="text"
              placeholder="{{ 'AFFECT_MANUELLE.ENTER_LASTNAME' | translate }}"
              [attr.aria-label]="'TUTORS.LASTNAME' | translate"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onTuteurSelected($event)"   [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredTuteurs$ | async" [value]="option" [disabled]="option.id === -1">
            {{ option.nom }}
          </mat-option>
          
        </mat-autocomplete>
      </mat-form-field>
      <p>{{ 'AFFECT_MANUELLE.ENTER_TUTOR_FIRSTNAME' | translate }}</p>
      <mat-form-field class="example-full-width">
        <mat-label>{{ 'TUTORS.FIRSTNAME' | translate }}</mat-label>
        <input type="text"
              placeholder="{{ 'AFFECT_MANUELLE.ENTER_FIRSTNAME' | translate }}"
              [attr.aria-label]="'TUTORS.FIRSTNAME' | translate"
              matInput
              [formControl]="prenomControl"
              [matAutocomplete]="prenomAuto">
        <mat-autocomplete #prenomAuto="matAutocomplete" (optionSelected)="onPrenomSelected($event)"  [displayWith]="displayPrenom">
          <mat-option *ngFor="let p of filteredPrenoms$ | async" [value]="p" [disabled]="p === 'Aucun tuteur disponible'">
            {{ p }}
          </mat-option>
          
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-button (click)="affecter()">{{ 'AFFECT_MANUELLE.AFFECT' | translate }}</button>
  <button mat-button (click)="resetChamps()">{{ 'COMMON.RESET' | translate }}</button>
</mat-dialog-actions>
