.home-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imtbs-logo {
  width: 250px;
  margin-bottom: 30px;
}

.welcome-title {
  font-size: 1.8rem;
  color: #005073;
  font-weight: 600;
}

.cas-snackbar {
  background-color: #f44336 !important; /* rouge */
  color: #fff !important;
  font-weight: 500;
  font-size: 15px;
}
