<h2>Liste des étudiants</h2>


<div>
  <table mat-table [dataSource]="students" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="emailEcole">
      <th mat-header-cell *matHeaderCellDef> Email Ecole </th>
      <td mat-cell *matCellDef="let element"> {{ element.emailEcole }} </td>
    </ng-container>

    <ng-container matColumnDef="origine">
      <th mat-header-cell *matHeaderCellDef> Origine </th>
      <td mat-cell *matCellDef="let element"> {{ element.origine }} </td>
    </ng-container>

    <ng-container matColumnDef="ecole">
      <th mat-header-cell *matHeaderCellDef> Ecole </th>
      <td mat-cell *matCellDef="let element"> {{ element.ecole }} </td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prenom </th>
      <td mat-cell *matCellDef="let element"> {{ element.prenom }} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{ element.nom }} </td>
    </ng-container>

    <ng-container matColumnDef="obligationInternational">
      <th mat-header-cell *matHeaderCellDef> Obligation International </th>
      <td mat-cell *matCellDef="let element"> {{ element.obligationInternational }} </td>
    </ng-container>

    <ng-container matColumnDef="stage1A">
      <th mat-header-cell *matHeaderCellDef> Stage1 A </th>
      <td mat-cell *matCellDef="let element"> {{ element.stage1A }} </td>
    </ng-container>

    <ng-container matColumnDef="codeClasse">
      <th mat-header-cell *matHeaderCellDef> Code Classe </th>
      <td mat-cell *matCellDef="let element"> {{ element.codeClasse }} </td>
    </ng-container>

    <ng-container matColumnDef="nomGroupe">
      <th mat-header-cell *matHeaderCellDef> Nom Groupe </th>
      <td mat-cell *matCellDef="let element"> {{ element.nomGroupe }} </td>
    </ng-container>

    <ng-container matColumnDef="langueMajeure">
      <th mat-header-cell *matHeaderCellDef> Langue Majeure </th>
      <td mat-cell *matCellDef="let element"> {{ element.langueMajeure }} </td>
    </ng-container>

    <ng-container matColumnDef="iniAlt">
      <th mat-header-cell *matHeaderCellDef> Ini Alt </th>
      <td mat-cell *matCellDef="let element"> {{ element.iniAlt }} </td>
    </ng-container>

    <ng-container matColumnDef="entreprise">
      <th mat-header-cell *matHeaderCellDef> Entreprise </th>
      <td mat-cell *matCellDef="let element"> {{ element.entreprise }} </td>
    </ng-container>

    <ng-container matColumnDef="fonctionApprenti">
      <th mat-header-cell *matHeaderCellDef> Fonction Apprenti </th>
      <td mat-cell *matCellDef="let element"> {{ element.fonctionApprenti }} </td>
    </ng-container>

    <ng-container matColumnDef="langue">
      <th mat-header-cell *matHeaderCellDef> Langue </th>
      <td mat-cell *matCellDef="let element"> {{ element.langue }} </td>
    </ng-container>

    <ng-container matColumnDef="commentaireAffectation">
      <th mat-header-cell *matHeaderCellDef> Commentaire Affectation </th>
      <td mat-cell *matCellDef="let element"> {{ element.commentaireAffectation }} </td>
    </ng-container>

    <ng-container matColumnDef="departementRattachement">
      <th mat-header-cell *matHeaderCellDef> Département Rattachement </th>
      <td mat-cell *matCellDef="let element"> {{ element.departementRattachement }} </td>
    </ng-container>

    <ng-container matColumnDef="affecte">
      <th mat-header-cell *matHeaderCellDef> Affecte </th>
      <td mat-cell *matCellDef="let element"> {{ element.affecte }} </td>
    </ng-container>

    <ng-container matColumnDef="tuteur">
      <th mat-header-cell *matHeaderCellDef> Tuteur </th>
      <td mat-cell *matCellDef="let element"> {{ element.tuteur }} </td>
    </ng-container>

    <ng-container matColumnDef="actions" style="position: sticky">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-outline-warning btn-sm" *ngIf="showEdit" (click)="edit(element)">Edit</button>
        <br><br>
        <button type="button" class="btn btn-danger btn-sm" *ngIf="showDelete" (click)="delete(element)">Delete</button>
      </td>
    </ng-container>

    <!-- En-tête du tableau -->
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <!-- Lignes du tableau -->
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>

<div class="actions-container">
  
</div>
